.message-bubble {
   padding: 15px;
   margin: 20px 0;
   max-width: 65%;
   word-wrap: break-word;
   overflow-wrap: break-word;
   flex-direction: column;
   display: flex;
}

.user {
   background-color: #474747;
   border-radius: 18px 4px 18px 18px;
   align-self: flex-end;
}

.ai {
   background-color: #474747;
   border-radius: 4px 18px 18px 18px;
   align-self: flex-start;
}