.characterCard {
   width: calc(25% - 20px);
   height: auto;
   aspect-ratio: 1.8/1;
   margin: 10px;
   background-color: #212121;
   border-radius: 15px;
   transition: 0.1s ease;
}

.characterCard:hover {
   cursor: pointer;
   transform: scale(1.02);
}
