.characterCard {
   width: calc(25% - 40px);
   height: auto;
   aspect-ratio: 1.8/1;
   margin: 10px;
   padding: 10px;
   background-color: #252525;
   border-radius: 15px;
   transition: 0.1s ease;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.characterCard:hover {
   cursor: pointer;
   transform: scale(1.02);
   background-color: #292929;
   box-shadow: 0 0 5px 0 #aaaaaa;
}

.character-image {
   width: 60%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}

.character-text {
   width: 40%;
   flex-direction: column;
   text-align: center;
   padding: 10px;
}

.character-name,
.character-description {
   margin: 20px 0;
}

.character-name {
   font-size: 23px;
   color: #adadad;
}

.character-description {
   font-size: 19px;
   color: #838383;
}

/* Responsive Design */
@media only screen and (max-width: 1200px) {
   .characterCard {
      width: calc(33.33% - 40px);
   }
}

@media only screen and (max-width: 992px) {
   .characterCard {
      width: calc(50% - 40px);
   }
}

@media only screen and (max-width: 768px) {
   .characterCard {
      width: 100%;
   }
}
