.buttons{
   height: 40px;
   padding: 10px;
   margin-top: 70px;
   display: flex;
   justify-content: end;
   align-items: center;
}

.button{
   width: 85px;
   height: 40px;
   margin: 0 10px;
   border: none;
   border-radius: 10px;
   background-color: #252525;
   color: #adadad;
   font-size: 18px;
   transition: 0.1s ease;
}

.button:hover {
   cursor: pointer;
   transform: scale(1.1);
   background-color: #292929;
   box-shadow: 0 0 5px 0 #aaaaaa;
}

.characterCards {
   display: flex;
   flex-wrap: wrap;
   padding: 10px;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
   .buttons {
      margin-top: 10px;
   }
}
