.container {
   width: 100%;
   height: auto;
   margin: 0 auto;
   padding: 50px 0;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.nameContainer,
.descriptionContainer,
.personalityContainer,
.customAvatarContainer {
   position: relative;
   width: 700px;
   height: 120px;
   margin: 10px 0;
   display: flex;
   justify-content: center;
   flex-direction: column;
   border-radius: 15px;
   background-color: #252525;
}

.personalityContainer {
   height: 300px;
}

.customAvatarContainer {
   height: 63px;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
}

.titleTexts {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.title {
   margin: 5px 8px 5px 25px;
   font-size: 23px;
   color: #dddddd;
}

.explanation {
   margin: 5px 0 5px 0;
   font-size: 14px;
   color: #636363;
   text-align: center;
}

.nameContainer input,
.descriptionContainer input,
.personalityContainer textarea {
   height: calc(55% - 20px);
   width: calc(100% - 60px);
   margin: 10px 20px;
   padding: 0 10px;
   border-radius: 10px;
   font-size: 17px;
   border: 1px solid #393939;
   background-color: #292929;
   color: #dddddd;
}

.nameContainer input:focus,
.descriptionContainer input:focus,
.personalityContainer textarea:focus {
   outline: 1px solid #a3a3a3;
   box-shadow: 0 0 8px 0 #aaaaaa;
}

.nameContainer input::placeholder,
.descriptionContainer input::placeholder,
.personalityContainer textarea::placeholder {
   opacity: 0.4;
   color: #c2c2c2;
}

.personalityContainer textarea {
   height: calc(80% - 40px);
   padding: 10px;
   margin: 10px 20px;
   line-height: 1.23;
   resize: none;
}

.characterLimit {
   position: absolute;
   bottom: 25px;
   right: 30px;
}

.characterLimit p {
   font-size: 12px;
   color: #dddddd;
}

.personalityContainer .characterLimit {
   bottom: 30px;
}

.customAvatarLabel {
   margin: 0 10px;
   text-align: center;
   color: #dddddd;
   font-size: 16.5px;
}

.customAvatarSelection {
   padding: 5px 10px;
   margin: 0 10px;
   border-radius: 10px;
   border: 1px solid #393939;
   background-color: #2e2e2e;
   color: #c2c2c2;
}

.customAvatarSelection:focus {
   box-shadow: 0 0 4px 0 #aaaaaa;
}

.addButton {
   width: 500px;
   height: 50px;
   margin: 25px 0 10px 0;
   border-radius: 10px;
   border: none;
   font-size: 22px;
   background-color: #252525;
   color: #dddddd;
}

.addButton:hover {
   cursor: pointer;
}

/* Avatar Upload Section (Hidden by Default) */
.fileUploadContainer {
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   border-radius: 15px;
   margin: 10px 0;
   padding: 15px 0;
   width: 700px;
   height: auto;
   background-color: #252525;
   color: #dddddd;
}

.fileUploadInnerContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 90%;
   height: auto;
   margin-top: 20px;
   padding: 10px 0;
   border-radius: 10px;
   background-color: #292929;
}

.fileUploadInnerContainer label {
   width: 50%;
   text-align: center;
}

.fileUploadInnerContainer input[type="file"] {
   display: none;
}

.fileUploadInnerContainer .customFileUpload {
   display: inline-block;
   width: 30%;
   margin: 0 auto;
   padding: 5px;
   cursor: pointer;
   border-radius: 5px;
   border: 1px solid #4b4b4b;
   background-color: #393939;
   color: #dddddd;
}

.fileUploadInnerContainer .customFileUpload:hover {
   background-color: #4b4b4b;
   border: 1px solid #5e5e5e;
}

.hidden {
   display: none;
}

.visible {
   display: flex;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
   .nameContainer,
   .descriptionContainer,
   .personalityContainer,
   .customAvatarContainer,
   .fileUploadContainer {
      width: 350px;
   }

   .nameContainer input::placeholder,
   .descriptionContainer input::placeholder,
   .personalityContainer textarea::placeholder {
      font-size: 14px;
   }

   .customAvatarLabel {
      font-size: 14px;
   }

   .explanation {
      font-size: 12px;
   }

   .addButton {
      width: 320px;
   }
}
